{% extends "left_bar.html" %}

{% block content %}
<span>
<p>О проекте.</p>
<p>Aloha! Мы команда Entropy inc, трудимся над этим проектом совсем немного, а это
значит, что вы о нас еще не слышали. Однако, момент настал. Веб-сервис
Entopy Inc собирает данные и распознает тональность отзывов о различных продуктах, предлагаемых в сети интернет:
от рецензий на фильмы и споров политиков,
до шапочки для котика и бара, в которым коварный бармен обманул вас на 56 рублей и 34 копейки.</p>
<p>Наш проект будет полезен для digital агенств, компаний, которым действительно
интересна искренняя обратная связь, а также организациям, занимающимся соц. опросами.
Мы уже умеем распознавать распознавать тональность рецензий на кинопоиске и твитов по заданному хештегу,
что открывает нам океан возможностей:</p>
<p> -реальная обратная связь о продукте, персоне, событии (автоматическое составление статистики вовлеченности )</p>
<p> -отслеживание интересов аудитории того или иного сайта, форума, соц.сети</p>
<p> -создание "Кружков по интересам", где люди смогу найти единомышленника или наоборот оппонента для дискуссии</p>
<p> -это и составление выборки пользователей по отношению к продукту для дальнейшего тергетинга</p>
<p> -создание портретов пользователей, которые отражают их интересы и характер больше, чем просто их страницы в социальных сетях</p>
<p> -фильтрация фейков(купленых комментариев или злобных троллей), мешающих настоящей картине вовлеченности пользователей.</p>

<p>Как с нами свзвязаться?</p>

<p>Телефон: +7(918) 580-80-91</p>
<p>E-mail: lex7555@yandex.ru</p>
</span>
{% endblock %}